body{
    background: lavenderblush;
    padding: 20px;
}
.Login{
    padding: 20px;
    position: relative;
    margin:0 auto;
    width: 35%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,rgba(0, 0, 0, 0.22) 0px 15px 12px; 
    border-radius: 20px;
    background: white;
}
#email,#password1{
    background-color: lightgray;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    
}
#submit{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    width: 90px;
}
.login-form{
    align-items: center;
    justify-content: center;
    text-align: center;
}